*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: #FFFFFF;
    --black: #000000;
    --grey-50: #FAFAFA;
    --grey-100: #EFEFEF;
    --grey-200: #D8D8D8;
    --grey-500: #A0A0A0;
    --grey-800: #444444;

    --space-0: 0px;
    --space-100: calc(8 / 16 * 1rem);
    --space-200: calc(16 / 16 * 1rem);
    --space-250: calc(20 / 16 * 1rem);
    --space-300: calc(24 / 16 * 1rem);
    --space-350: calc(28 / 16 * 1rem);
    --space-400: calc(32 / 16 * 1rem);
    --space-500: calc(40 / 16 * 1rem);
    --space-600: calc(48 / 16 * 1rem);
    --space-700: calc(56 / 16 * 1rem);
    --space-800: calc(64 / 16 * 1rem);
    --space-900: calc(72 / 16 * 1rem);
    --space-1000: calc(80 / 16 * 1rem);
    --space-1050: calc(84 / 16 * 1rem);
    --space-1100: calc(88 / 16 * 1rem);
    --space-1150: calc(92 / 16 * 1rem);
    --space-1175: calc(94 / 16 * 1rem);
    --space-1200: calc(96 / 16 * 1rem);
    --space-1300: calc(104 / 16 * 1rem);
    --space-1375: calc(110 / 16 * 1rem);
    --space-1400: calc(112 / 16 * 1rem);
    --space-1500: calc(120 / 16 * 1rem);

    --font: 'League Spartan', sans-serif;

    --font-xl: calc(48 / 16 * 1rem);
    --font-lg: calc(40 / 16 * 1rem);
    --font-md: calc(16 / 16 * 1rem);
    --font-sm: calc(15 / 16 * 1rem);

    --font-semiBold: 600;
    --font-bold: 700;
    --font-medium: 500;

    --lineheight-wide: 1.4;
    --lineheight-normal: 1;
    --lineheight-tight: 0.9;

    --letterspacing-sm: calc(-2 / 16 * 1rem);
    --letterspacing-xs: calc(-0.7 / 16 * 1rem);
    --letterspacing-md: calc(-0.5 / 16 * 1rem);
    --letterspacing-lg: calc(0.5 / 16 * 1rem);
    --letterspacing-xl: calc(7 / 16 * 1rem);
    --letterspacing-xxl: calc(5.83 / 16 * 1rem);

}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

*:focus-visible {
    outline: 1px solid var(--grey-800);
    outline-offset: 1px;
}

body {
    font-family: var(--font);
    background-color: var(--grey-800);
    color: var(--white);
}

.text-1 {
    font-size: var(--font-xl);
    font-weight: var(--font-semiBold);
    line-height: var(--lineheight-tight);
    letter-spacing: var(--letterspacing-sm);
}

.text-2 {
    font-size: var(--font-lg);
    font-weight: var(--font-semiBold);
    line-height: var(--lineheight-normal);
    letter-spacing: var(--letterspacing-sm);
}

.text-3 {
    font-size: var(--font-md);
    font-weight: var(--font-bold);
    line-height: var(--lineheight-wide);
    letter-spacing: var(--letterspacing-xl);
}

.text-3-semibold {
    font-size: var(--font-md);
    font-weight: var(--font-semiBold);
    line-height: var(--lineheight-normal);
    letter-spacing: var(--letterspacing-xs);
}

.text-3-medium {
    font-size: var(--font-md);
    font-weight: var(--font-medium);
    line-height: var(--lineheight-wide);
    letter-spacing: var(--letterspacing-md);
}

.text-4 {
    font-size: var(--font-sm);
    font-weight: var(--font-medium);
    line-height: var(--lineheight-normal);
    letter-spacing: var(--letterspacing-xxl);
}